// step-icon

@mixin stem-img($width:24px) {
  display: inline-block;
  background-size: 100% 100%;
  width: $width;
  height: $width;
}


.step-tag {
  background: url("~@/assets/img/workflow/step-tag.png") no-repeat center;
  @include stem-img;
}

.step-start {
  background: url("~@/assets/img/workflow/step-start.png") no-repeat center;
  @include stem-img;
}

.step-end {
  background: url("~@/assets/img/workflow/step-end.png") no-repeat center;
  @include stem-img;
}


.step-if {
  background: url("~@/assets/img/workflow/step-if.png") no-repeat center;
  @include stem-img(30px);
}

.step-expand {
  background: url("~@/assets/img/workflow/step-expand.png") no-repeat center;
  @include stem-img(30px);
}

.step-merge {
  background: url("~@/assets/img/workflow/step-merge.png") no-repeat center;
  @include stem-img(30px);
}


.step-start2 {
  background: url("~@/assets/img/workflow/step-start2.png") no-repeat center;
  @include stem-img(25px);
}

.step-stop {
  background: url("~@/assets/img/workflow/step-stop.png") no-repeat center;
  @include stem-img(25px);
}


