
.el-input__inner{
  border-color: #e8e8e8;
  border-radius: 2px;
  &:hover{
    border-color: @themeColor;
  }
}

.el-input.is-active .el-input__inner{
  border-color: #dcdfe6;
}
.el-input__inner:focus{
  border-color: @themeColor;
}

.el-button{
  color: @buttonColor;
  border-color: @buttonColor;
  &:hover{
    color: @buttonColor;
    border-color: @themeColor;
    background-color: transparent;
  }
  &.el-button--primary{
    color: #fff;
    background: @buttonColor;
    border-color: @buttonColor;
    &:hover{
      background: @themeColor;
      border-color: @themeColor;
    }
  }
  &.el-button--success{
    color: #fff !important;
    border-color: #67c23a;
    &:hover{
      color: #85ce61;
      border-color: #85ce61;
      background-color: #85ce61;
    }
  }
}

.el-button--small{
  border-radius: 2px;
}

.el-dropdown-menu{
  .el-dropdown-menu__item{
    .width100{
      display: block;
      width: 100%;
    }
  }
}

.el-dropdown-menu{
  background: #FFFFFF;
  border: 1px solid #E4E7ED;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.06);
  border-radius: 4px;
}

.el-dropdown-menu__item{
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
}

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover{
  background: rgba(65,98,219,0.10);
  color: @buttonColor;
}